<div class="container">
    <div class="row">
        <div class="small-12 columns">
            <h1>What's Next?</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <%= link_to 'Food', food_index_path, class: "choice button radius expand" %>
        </div>
        <div class="small-6 columns">
            <%= link_to 'Drink', drinks_path, class: "choice button radius expand" %>
        </div>
    </div>

</div>
