<% provide(:title, @venue[:name]) %>

<div class="container" id="container">
    <div class="row">
        <div class="small-12 columns">

            <p class="subheader bigger">You should go to</p>

            <%= render "layouts/venue" %>

        </div>
    </div>
    <%= render "layouts/other_buttons" %>

</div>
