<% path = request.original_fullpath %>
<div class="row buttons" id="buttons">
    <div class="small-12 medium-6 columns">
        <h3><%= link_to 'Try Another One',
                path.match('drinks') ? drinks_path : food_path,
                class: "choice button expand radius disabled" %></h3>
    </div>
    <div class="small-12 medium-6 columns">
        <h3><%= link_to path.match('drinks') ?
                "I Want Some Food Instead" : "I Want a Drink Instead",
                path.match('drinks') ? 
                food_path : drinks_path,
            class: "choice button expand radius disabled" %></h3>
    </div>
</div>


